.cart-widget{
	overflow: hidden;
	position: relative;
	*{ box-sizing: border-box; }
	&__top-row{
		@include sprite($cart-widget-top);
		position: relative;
		z-index: 2;
	}
	&__inner{
		@include sprite($cart-widget-bg);
		padding: 0.1px 0 0;
		position: relative;
		z-index: 1;
		left: 55px;
		top: -30px;
		margin-top: -244px;
		transition: margin 0.4s ease;
		.cart-widget.active &{
			margin-top: 0;
		}
	}
	&__products{
		margin: 17px 0 5px;
	}
	&__btn-1,
	&__btn-2{
		text-align: center;
	}
	&__btn-1{
		position: relative;
		top: -8px;
		.cart-widget.active &{
			position: static;
		}
	}
}

.cart-goods{
	border-radius: 5px;
	background-color: rgb(217, 210, 202);
	box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.84);
	padding-top: 7px;
	width: 150px;
	height: 185px;
	margin: auto;
	overflow: hidden;
	font-size: 11px;
	line-height: 1.3;
	.jspVerticalBar{
		width: 10px;
		background: none;
	}
	.jspTrack{
		background: none;
		&:before{
			content: '';
			position: absolute;
			left: 0;right: 0;
			display: block;
			width: 2px;
			height: 100%;
			margin: auto;
			background: #c1b7ad;
		}
	}
	.jspDrag{
		background: none;
		width: 100%;
		&:before{
			content: '';
			display: block;
			width: 5px;
			height: 100%;
			margin: auto;
			border-radius: 3px;
			background: #706b65;
		}
	}
	&__list{
		padding: 0 7px;
		max-height: 110px;
		overflow: hidden;
	}
	&__item{
		position: relative;
		padding: 7px 8px 7px 38px;
		margin-left: 7px;
		border-bottom: 1px dashed #654010;
		&:first-child{
			margin-top: -7px;
		}
	}
	&__item-view{
		position: absolute;
		top: 10px;
		left: 0;
		width: 32px;
		border-radius: 4px;
		height: 32px;
		.img-scaler{
			height: 100%;
			padding: 0;
			&__wrap{
				border-radius: 4px;
				&:after{
					position: absolute;
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: transparent;
					box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.43);
					border-radius: 4px;
				}
			}
		}
		img{
			max-width: 100%;
		}
	}
	&__item-info{
		span{
			display: block;
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
		}
	}
	&__item-del{
		@extend %link-clicker;
		position: absolute;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		top: 3px;
		right: -10px;
		font-size: 0;
		&:before{
			content: '\f00d';
			display: inline-block;
			font-family: Fontawesome;
			font-size: 14px;
			color: #9b6040;
		}
	}
	&__footer{
		height: 70px;
		padding: 0 7px;
		background: #b6ab93;
		box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.84);
	}
	&__count{
		padding: 7px;
		border-bottom: 1px dashed #654010;
		margin-bottom: 3px;
	}
	&__summ{
		padding: 7px;
		span{
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
			margin-left: 0.5em;
		}
	}
}

.confirm-btn,
.cart-confirm-btn{
	@extend %btn;
	@extend %btn-title;
	@include sprite($brown-btn);
	padding: 19px 15px 17px 18px;
	&:before{
		content: '';
		@include sprite($check-icon);
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		margin-top: 3px;
	}
}

.cart-btn{
	@extend %btn;
	margin: auto;
	&__inner{
		@include sprite($red-btn);
		@extend %btn-title;
		position: relative;
		z-index: 1;
		padding: 19px 15px 20px 22px;
		&:before{
			content: '';
			@include sprite($cart-btn-icon);
			display: inline-block;
			vertical-align: bottom;
			margin-right: 11px;
			margin-left: -3px;
		}
	}
	&__label{
		@include sprite($cart-btn-label);
		color: white;
		margin: -15px auto 0;
		padding: 12px 10px 10px;
		text-align: center;
	}
}