@import "cart-widget";
a.logo{
	@extend %link-clicker;
}
.header .contact{
	margin-top: 25px;
	margin-left: 405px;
}
.basket_label {
	top: 0;
	right: -44px;
	width: auto;
	height: auto;
	text-align: left;
	padding-top: 4px;
}
.order_check_status{
	top: 32px;
	right: 220px;
	width: auto;
	height: auto;
	text-align: left;
}

.login-btn{
	@extend %btn;
	@extend %btn-title;
	@include sprite($brown-btn);
	text-align: left;
	text-align: center;
	padding: 20px 0 23px;
	&:before{
		content: '';
		@include sprite($user-icon);
		display: inline-block;
		vertical-align: top;
		margin-right: 7px;
	}
}