.ware{
	@extend .clearfix;
	margin-bottom: 25px;
	&_title{
		margin-bottom: 10px;
	}
	&_brand-art{
		margin-bottom: 10px;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&_available{
		font-style: italic;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px dashed #9d9274;
	}
}
.ware-price{
	position: relative;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	color: black;
	&__info{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	&__old{
		margin-right: 0.3em;
		vertical-align: top;
		font-size: 24px;
		color: #505050;
		text-decoration: line-through;
	}
	&__curr{
		font-size: 30px;
	}
	.price{
		font-size: 18px;
		margin-left: 0.3em;
	}
	&__pc{
		margin-top: 5px;
		font-size: 18px;
		color: #af1d2a;
	}
}

.ware-params{
	&__block{
		@include clearfix;
		font-size: 0;
		margin-bottom: 21px;
	}
	&__title{
		display: inline-block;
		vertical-align: top;
		width: 55px;
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
		margin: 15px 10px 0 0;
	}
	&__list{
		position: relative;
		width: 265px;
		display: inline-block;
		vertical-align: top;
	}
	.ware_table{
		position: absolute;
		top: 100%;
		left: 0;
		margin: -5px 0 0 5px;
		font-size: 14px;
	}
}

.ware_submit{
	@extend %btn;
	@extend %btn-title;
	@include sprite($red-btn);
	text-transform: initial;
	font-size: 13px;
	color: #c5a7a7;
	border: none;
	background-color: transparent;
	text-align: center;
	padding: 19px 20px 25px;
}
.color-select,
.num-select,
.checkbox-radio{
	@extend %link-clicker;
	position: relative;
	display: inline-block;
	width: 53px;
	height: 52px;
	text-align: center;
	cursor: pointer;
	input{
		position: absolute;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
	i{
		@include sprite($jaw-bg);
		height: 39px;
		display: inline-block;
		position: absolute;
		top: 0;bottom: 0;right: 0;left: 0;
		margin: auto;
		z-index: 1;
	}
	span{
		position: relative;
		z-index: 2;
		font-size: 18px;
		color: white;
		line-height: 49px;
		font-weight: bold;
		font-style: italic;
		text-shadow: 0.313px 1.975px 1px rgba(0, 0, 0, 0.4);
	}
	img{
		position: absolute;
		z-index: 2;
		border-radius: 2px;
		top: 14px;
		left: 15px;
		// box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
		width: 23px;
		height: 21px;
	}
	input:checked{
		&~i{
			@include sprite($jaw-checked);
		}
	}
	input:disabled{
		&~span{
			&:after{
				content: '';
				display: inline-block;
				@include sprite($jaw-disabled);
				position: absolute;
				top: 0; left: 0;
				margin: -5px 0 0 -17px;
			}
		}
	}
}
.checkbox-tooltip{
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 8px;
	padding: 6px 16px;
	font-size: 10px;
	background-color: #f7f3d4;
	border-radius: 3px;
	line-height: 1;
	box-shadow: 0.97px 1.749px 1px 0px rgba(0, 0, 1, 0.35);
	&:before {
		@include triangle(up, 6px, #f7f3d4);
		bottom: 100%;
		left: 15px;
	}
}
