- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Восстановление пароля
	p(elem="descr") Пароль будет отправлен на Вашу электронную почту
	form.no-transform(action="")

		div(elem="wrap-1")

			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")

		.text-center
			button(elem="reg-btn") Отправить