- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Личный кабинет
	form.no-transform(action="")
		div(elem="wrap-1")
			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")
			input.input-style(elem="input" type="password" name="pass" placeholder="Пароль*" required="")
			.text-center
				button(elem="login-btn") Войти
	hr.hr
	.clearfix
		a.popup(elem="forget-link" class="fancybox.ajax" href="ajax/popup-forget.html") Забыли пароль?
		a.popup(elem="reg-link" class="fancybox.ajax" href="ajax/popup-reg.html") Зарегистрироваться