- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Регистрация
	form.no-transform(action="")

		div(elem="wrap-2")
			input.input-style(elem="input" type="text" name="name" autocomplete="name" placeholder="ФИО*" required="")

			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")

			input.js-tel.input-style(elem="input" type="tel" name="phone" autocomplete="tel" placeholder="Номер телефона*" required="")

			input.input-style(elem="input" type="text" name="address" autocomplete="shipping street-address" placeholder="Адрес")

			input.input-style(elem="input" type="password" name="pass" placeholder="Пароль*" required="")

			input.input-style(elem="input" type="password" name="repass" placeholder="Подтвердите пароль*" required="")
		.text-center
			button(elem="reg-btn") Отправить