div(block="popup-body")
	div(elem="title") Наличие в магазинах
	form.no-transform(action="")
		div(elem="wrap-1")
			select.styled-select(name="select1")
				option(value="1") Волгоград
				option(value="2") Город 1
				option(value="3") Город 2
				option(value="4") Город 3
			select.styled-select(name="select1")
				option(value="1") Тц "Акварель"
				option(value="2") Тц 1
				option(value="3") Тц 2
				option(value="4") Тц 3
		.text-center
			button(elem="presence-btn" type="button") Проверить наличие
	hr.hr
	.result-msg Нет в наличии