.cart{
	*{ box-sizing: border-box; }
	position: relative;
	&__clear{
		@extend %link-clicker;
		position: absolute;
		top: -35px;
		right: 15px;
		font-style: italic;
	}
	&__list{
		margin-bottom: 40px;
	}
	&__result{
		text-align: right;
		font-size: 18px;
		font-weight: bold;
		font-style: italic;
		color: #5c4a4d;
		padding-right: 15px;
	}
	.ware-price{
		float: right;
		text-align: right;
		margin-bottom: 0;
		&__old{
			font-size: 18px;
		}
		.price,
		&__curr{
			font-size: 24px;
		}
		&__pc{
			font-size: 16px;
		}
	}
	.cart-confirm-btn{
		margin-bottom: 20px;
	}
}
.cart-item{
	position: relative;
	min-height: 173px;
	padding: 20px 15px 20px 165px;
	border-bottom: 1px dashed #9d9274;
	&__del{
		@include sprite($close-icon);
		@extend %link-clicker;
		font-size: 0;
		position: absolute;
		top: 20px;
		right: 15px;
		user-select: none;
	}
	&__view{
		position: absolute;
		top: 20px;
		left: 15px;
		width: 133px;
		height: 133px;
		.img-scaler{
			padding-bottom: 100%;
			&__wrap{
				border-radius: 4px;
				&:after{
					position: absolute;
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: transparent;
					box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.43);
					border-radius: 4px;
				}
			}
		}
		img{max-width: 100%;}
	}
	&__brand,
	&__title{
		margin-bottom: 10px;
	}
	&__title{
		font-size: 18px;
		font-weight: bold;
		font-style: italic;
		max-width: 60%;
	}
	&__brand{
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.color-select,
	.num-select{
		vertical-align: middle;
	}
	.counter,
	.color-select{
		margin-right: 7px;
	}
	.color-select,
	.num-select{
		cursor: default;
	}
	&__label{
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;
		font-style: italic;
	}
}