.checkout{
	*{ box-sizing: border-box; }
	padding: 0 40px;
	margin-top: -10px;
	margin-bottom: 10px;
	textarea{
		font-family: "Segoe UI", Arial;
		font-size: 14px;
	}
	&__row{
		@include clearfix;
		margin-left: -12px;
		margin-right: -12px;
	}
	&__col{
		float: left;
		padding: 0 12px;
		width: 100%;
		&.half{
			width: 50%;
		}
		&.third{
			width: cp(1,3);
		}
		&_pad_left{
			padding-left: 23px;
		}
	}
	&__title{
		font-size: 18px;
		font-weight: bold;
		font-style: italic;
		margin: 20px 0;
	}
	&__input{
		margin-bottom: 20px;
	}
	&__checkbox{
		display: block;
	}
	&__result{
		margin: 20px 0;
		text-align: right;
		color: #5c4a4d;
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
		span{
			color: black;
			font-size: 24px;
		}
		&~.hr{
			margin: 25px 0;
		}
	}
	textarea{
		height: 78px;
		resize: vertical;
		max-height: 200px;
	}

	.jqTransformSelectWrapper{
		*{box-sizing: content-box;}
		margin-top: -4px;
		margin-bottom: 16px;
	}
	.confirm-btn{
		padding: 19px 15px 22px 18px;
		&:before{
			display: none;
		}
	}
}