@import "blocks/product-descr";
.rsDefault, .rsDefault .rsOverflow{
	background-image: url("../images/png/slider_bg.png");
}
.ware_pic_list{
	position: relative;
	overflow: visible;
	.rsDefault .rsThumbsArrow{
		@extend %link-clicker;
		z-index: 22;
		bottom: 70px;
	}
	.rsDefault.rsWithThumbsHor .rsThumbsArrowRight{
		@include sprite($btn-next);
	}
	.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft{
		@include sprite($btn-prev);
	}
}

.catalog-list-slider{
	width: 100%;
	height: 300px;
	margin: 20px 0;
	.catalog_list{
		margin-top: 0;
		.el{
			float: none;
			display: inline-block;
			vertical-align: top;
			width: 23.3%;
			margin-bottom: 0;
			.img-bg{
				margin: 14px 0 0 9px;
			}
			.catalog_uri,
			.title,
			.brand,
			.catalog_prices{
				left: 9px;
			}
		}
		.back{
			background-size: 100% 100%;
			width: 100%;
		}
	}
	.rsContainer{
		height: auto;
		top: auto; bottom: auto; right: auto; left: auto;
	}
	.rsSlide{
		width: 100%;
		height: auto;
	}
	.rsArrow{
		@extend %link-clicker;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.rsArrowLeft{
		@include sprite($btn-prev);
		left: 0;
	}
	.rsArrowRight{
		@include sprite($btn-next);
		right: 0;
	}
	.rsArrowDisabled{
		opacity: 0;
		visibility: hidden;
	}
}

.pagenav{
	li{
		@extend %link-clicker;
		cursor: default;
	}
}