.account{
	*{ box-sizing: border-box; }
	@extend .clearfix;
	textarea{
		font-family: "Segoe UI", Arial;
		font-size: 14px;
	}
	&__col-1,
	&__col-2{
		width: 50%;
		float: left;
		min-height: 1px;
	}
	&__col-1{
		padding: 65px 20px 0 15px;
	}
	&__col-2{
		padding: 23px 30px 0 55px;
	}
	&__label{
		display: inline-block;
		cursor: pointer;
		padding: 8px 0;
		width: 100%;
	}
}
.acc-tabs{
	padding-left: 20px;
	padding-right: 25px;
	&_data{
		@include sprite($acc-tab-1);
		.acc-tabs__link + .acc-tabs__link{
			margin-left: 39px;
		}
	}
	&_history{
		@include sprite($acc-tab-2);
		.acc-tabs__link + .acc-tabs__link{
			margin-left: 33px;
		}
	}
	&__link{
		@extend %link-clicker;
		display: inline-block;
		padding: 12px 0;
		color: #faf0e8;
		text-decoration: none;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.82);
		font-weight: bold;
	}
}
.acc-info{
	@extend .clearfix;
	padding-bottom: 90px;
	margin-left: -10px;
	margin-right: -10px;
	&__edit,
	&__col-1,
	&__col-2{
		float: left;
		padding-right: 10px;
		padding-left: 10px;
		margin-bottom: 15px;
		min-height: 1px;
	}
	&__col-1{
		width: cp(160, 455);
	}
	&__edit,
	&__col-2{
		width: cp(295, 455);
	}
	.jqTransformInputWrapper{
		width: 100% !important;
		.jqTransformInputInner{
			width: 100%;
			div{
				width: 100% !important;
			}
		}
		input{
			width: 100% !important;
		}
	}
	&__edit{
		margin-left: cp(160, 455);
		&:before{
			content: '\f040';
			display: inline-block;
			font-family: FontAwesome;
			color: #036;
			margin-right: 5px;
		}
		a{
			font-style: italic;
		}
	}
}

.acc-addr{
	position: relative;
	padding-bottom: 130px;
	&__title{
		font-weight: bold;
		font-size: 18px;
		font-style: italic;
		color: #5c4a4d;
		margin-bottom: 10px;
	}
	&__row{
		@extend .clearfix;
		padding: 15px 0 20px;
	}
	&__col-1,
	&__col-2{
		float: left;
	}
	&__col-1{
		width: cp(70, 375);
	}
	&__col-2{
		width: cp(305, 375);
	}
	&__edit{}
	textarea{
		height: 85px;
		resize: none;
		margin-bottom: 10px;
	}
	&__btn-add{
		position: absolute;
		left: cp(70, 375);
		bottom: 80px;
	}
}

.edit-form{
	&:before{
		content: '\f040';
		display: inline-block;
		font-family: FontAwesome;
		color: #036;
		margin-right: 5px;
	}
	a{
		@extend %link-clicker;
		display: inline-block;
		font-style: italic;
		margin-right: 7px;
	}
}

.btn-add{
	@extend %brown-btn-2;
}