.acc-table{
	margin: 30px 0;
	&__header{
		position: relative;
		font-size: 0;
		padding: 15px 0;
		&:after{
			content: '';
			position: absolute;
			top: 100%;
			margin-top: -4px;
			display: block;
			width: 100%;
			height: 18px;
			background: url('../images/png/acc-header-border.png') no-repeat center / cover;
		}
	}
	&__body{}
	&__order{
		position: relative;
		font-size: 0;
		padding: 27px 0;
		min-height: 90px;
		border-bottom: 1px dashed #9d9274;
	}
	&__order-row{
		position: absolute;
		top: 27px;
		left: 0;
		width: 100%;
		.acc-table__col{
			max-height: 36px;
			overflow: hidden;
		}
	}
	&__order-count,
	&__order-title{
		transition: opacity 0.2s 0.3s;
		.acc-table__order.active &{
			opacity: 0;
			transition: none;
		}
	}
	&__order-count{}
	&__order-items{
		// position: relative;
		// z-index: 1;
	}
	&__order-num{
		display: inline-block;
		position: relative;
		color: #5c4a4d;
		font-weight: bold;
		font-style: italic;
		padding-right: 12px;
		text-decoration: underline;
		cursor: pointer;
		user-select: none;
		&:after{
			content: '\f0dd';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			line-height: 1;
			display: inline-block;
			font-style: normal;
			font-family: Fontawesome;
		}
		&.active{
			&:after{
				transform: rotate(180deg);
			}
		}
	}
	&__order-status{
		font-style: italic;
		a{
			@extend %link-clicker;
			display: inline-block;
			display: block;
		}
		&.ready{
			color: #999999;
		}
	}
	&__order-repeat{
		@extend %brown-btn-2;
		position: absolute;
		right: 0;
		bottom: 27px;
		font-size: 14px;
		opacity: 0;
		visibility: hidden;
		.acc-table__order.active &{
			opacity: 1;
			visibility: visible;
			transition: opacity 0.2s 0.3s;
		}
	}
	&__summ{
		font-size: 18px;
		font-weight: bold;
		font-style: italic;
	}
	&__item{
		font-size: 0;
		margin-top: 10px;
		.acc-table__summ{
			.acc-table__order.active &{
				position: relative;
				z-index: 1;
			}
		}
		&:first-child{
			margin-top: 0;
		}
	}
	&__item-view{}
	&__item-title{}
	&__img-wrap{
		position: relative;
		width: 63px;
		height: 67px;
		float: left;
		margin-right: 10px;
		&:after{
			@include sprite($item-border);
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.img-scaler{
			padding-bottom: cp(67, 63);
		}
		img{
			max-width: 100%;
		}
	}
	&__col{
		min-height: 1px;
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
		&:first-child{
			width: cp(143, 910);
			padding-left: 15px;
		}
		&:nth-child(2){
			width: cp(192, 910);
		}
		&:nth-child(3){
			width: cp(130, 910);
			text-align: center;
		}
		&:nth-child(4){
			width: cp(148, 910);
			text-align: center;
		}
		&:nth-child(5){
			width: cp(125, 910);
			text-align: center;
		}
		&:nth-child(6){
			width: cp(68, 910);
		}
		&:nth-child(7){
			width: cp(101, 910);
			padding-right: 0;
			text-align: center;
		}
	}
}
.js-order-items{
	display: none;
}