.fancybox-lock{
	overflow-x: hidden;
}
.fancybox-close{
	@include sprite($close-icon);
	@extend %link-clicker;
}
.result-msg{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5b4b4c;
}

.popup-body{
	*{ box-sizing: border-box; }
	width: 475px;
	padding: 30px 15px;
	&__title{
		font-size: 24px;
		line-height: 18px;
		color: #5c4a4d;
		font-weight: bold;
		text-align: center;
		font-style: italic;
		margin: 0 40px 35px 40px;
	}
	&__wrap-1,
	&__wrap-2{
		margin: 0 auto;
	}
	&__wrap-1{
		width: 215px;
	}
	&__wrap-2{
		width: 270px;
	}
	&__presence-btn{
		@include sprite($brown-btn-3);
		@extend %btn;
		@extend %btn-title;
		padding: 20px 10px 23px;
		margin-top: 8px;
		margin-bottom: -7px;
	}
	&__login-btn{
		@extend .login-btn;
		margin-top: 15px;
		&:before{
			vertical-align: middle;
			margin-top: -5px;
		}
	}
	&__reg-btn{
		@include sprite($brown-btn);
		@extend %btn;
		@extend %btn-title;
		padding: 20px 10px 23px;
		margin-top: 15px;
		&:before{
			display: none;
		}
	}
	&__forget-link,
	&__reg-link{
		@extend %link-clicker;
		display: block;
		float: left;
		width: 50%;
		padding: 0 30px;
		text-decoration: underline;
		font-style: italic;
	}
	&__reg-link{
		text-align: right;
	}
	&__input{
		margin: 0 0 17px;
	}
	&__descr{
		text-align: center;
		color: black;
		margin: -20px 0 25px;
	}
	.hr{
		margin: 25px 0;
	}
	.jqTransformSelectWrapper{
		width: 100% !important;
		margin: 0 auto 17px;
		div{
			width: auto;
			margin: 0;
			background: none;
			span{
				margin: 0;
				height: auto;
				width: auto !important;
				padding: 3px 50px 3px 20px;
				background: #f3ece6;
				border-radius: 5px;
				box-shadow: inset 1px 1px 2px rgba(black, 0.35), 1px 0px 5px white;
			}
			a{
				right: 7px;
				top: 5px;
			}
		}
		ul{
			top: 34px;
			left: 1px;
			width: 100% !important;
		}
	}
}