include _checkbox
mixin random(num1, num2)
	- var num = Math.floor(Math.random() * (num1 - num2) + num2)
	span=num

mixin br(count)
	div(style="height:"+count+"px;")
		if block
			block

mixin imgScaler(imgSrc, alt)
	//- div(block="img-scaler" class!=attributes.class)
		div(elem="wrap")
			img(src=imgSrc, alt="")
	img.scaling(src=imgSrc alt=alt title=alt)

mixin title(title)
	h1.h1_title=title

mixin bread(breadcrumbs)
	.bread
		each title in breadcrumbs
			a(href=href)=title
			|  / 