mixin checkbox(labelText, disabled)
	if disabled
		label.checkbox&attributes(attributes)
			input(type="checkbox", name="" disabled)
			span=labelText
			block
	else
		label.checkbox&attributes(attributes)
			input(type="checkbox", name="")
			span=labelText
			block

mixin checkbox-radio(labelText, name, disabled)
	if disabled
		label.checkbox-radio&attributes(attributes)
			input(type="radio", name=name disabled)
			span=labelText
			block
	else
		label.checkbox-radio&attributes(attributes)
			input(type="radio", name=name)
			span=labelText
			block