include mixins/_all-mixins

- var href = 'javascript:void(0)';
- var bodyClass = null;
- var url = 'http://karman.dev.magwai.ru/';
block vars

doctype html
html.no-js
	head
		include blocks/_head
		link(rel='stylesheet', href='plugins/jscrollpane/jquery.jscrollpane.css')
		link(rel='stylesheet', href='styles/test.css')

		block style
		block script
	body(class=bodyClass)
		#measurer
		#container
			.bg_top
			.layout
				.auto
					include blocks/_header
					.content
						.bah_rp
							.bah_t
							.bah_m
								block content
							.bah_b
					.clear
					.fake
				include blocks/_footer

		link(href='https://clients.streamwood.ru/StreamWood/sw.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='https://clients.streamwood.ru/StreamWood/sw.js', charset='utf-8')
		script(type='text/javascript').
			swQ(document).ready(function() {
			swQ().SW({
			swKey: 'bd0feb7098b8bf044d4f6eece41e349a',
			swDomainKey: '01c4e4f67bddc09a4d8242f51098980a'
			});
			swQ('body').SW('load');
			});

		script(src="plugins/jscrollpane/jquery.jscrollpane.min.js")
		script(src="plugins/image-scale.min.js")
		script(src="plugins/delete-me.js")
		script(src="plugins/phone-mask.js")
		script(src="scripts/main.js")
		block scripts