extends _layout
block content
	+bread(['Главная'])
	+title('Корзина')
	-var count = 2;
	div(block="cart")
		a(elem="clear" href=href) Очистить корзину
		div(elem="list")
			-for(i=1;i<=count;i++)
				article(block="cart-item")
					div(elem="del") x
					div(elem="view")
						img.scaling(src="http://karman.dev.magwai.ru/pc/catalogpic_title/1318x1368_SQ52542_2.jpg?1463726651", alt="")
					h1(elem="title") WRANGLER Брюки деним (2) TINA W242X134D
					div(elem="brand")
						img(src="images/media/wrangler-label.png", alt="Wrangler-img")
						|  Wrangler / Артикул: 1268239
					div.counter
						input.minus.js-minus(type="button" field="quantity"+i value="-")
						span.counter__view
							input.rslt.js-num(type="text" value="1" data-min="1" data-max="100" name="quantity"+i)
						input.plus.js-plus(type="button" field="quantity"+i value="+")
					.color-select
						i
						img(src="images/media/color-black.png", alt="Черный")
					span(elem="label") Размер:
					.num-select
							i
							span 32
					span(elem="label") Рост:
					.num-select
							i
							span 32
					div(block="ware-price")
						span(elem="old") 7200
						span(elem="curr") 5999
						span.price руб.
						div(elem="pc") Экономия 10%
		div.clearfix(elem="result")
			| Итого:  
			div(block="ware-price")
				span(elem="old")=7200*count
				span(elem="curr")=5999*count
				span.price руб.
				div(elem="pc") Экономия 10%
		.text-center
			a.cart-confirm-btn(href=href) Оформить

