
extends _layout
block content
	+bread(['Главная'])
	+title('Оформление заказа')

	mixin checkbox(labelText, name)
		label.checkbox(elem="checkbox")
				input(type="radio", name=name)&attributes(attributes)
				span=labelText

	div(block="checkout")
		form.no-transform(action="")
			div(elem="row")
				div.half(elem="col")
					div(elem="title") Информация о покупателе
					input.input-style(elem="input" type="text" name="name1" autocomplete="name" placeholder="Имя")
					input.js-tel.input-style(elem="input" type="tel" name="phone" autocomplete="tel" placeholder="Телефон")
					input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта")
					textarea.input-style(name="comment" placeholder="Комментарий")
				div.half(elem="col" mod="pad:left")
					div(elem="title") Способ доставки
					+checkbox('Курьерская доставка', 'delivery')(checked)
					+checkbox('Пункт самовывоза', 'delivery')
					+checkbox('Доставка до нашего магазина', 'delivery')
					div(elem="title" mod="mar:top") Способ оплаты
					+checkbox('Оплата онлайн', 'payment')
					+checkbox('Наличными', 'payment')(checked)
					+checkbox('Оплата картой', 'payment')
			hr.hr
			div(elem="row")
				div.half(elem="col")
					select.styled-select(name="select1")
						option(value="1") Ваш город
						option(value="2") Город 1
						option(value="3") Город 2
						option(value="4") Город 3
					input.input-style(elem="input" type="text" name="address" autocomplete="shipping street-address" placeholder="Улица*" required="")

				div.half(elem="col")
					input.input-style(elem="input" type="text" name="name2" autocomplete="name" placeholder="Фамилия Имя*" required="")
					div(elem="row")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="house" placeholder="Дом*" required="")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="corp" placeholder="Корпус")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="flat" placeholder="Квартира")
				div(elem="col")
					textarea.input-style(name="comment" placeholder="Комментарий")
			div(elem="result")
				| Стоимость доставки: 
				span 1200 руб.
			hr.hr
			div(elem="result")
				| Итого к оплате: 
				span 1200 руб.
			.text-center
				button.confirm-btn(type="submit") Оформить


