mixin slide(linkUrl, imgSrc, labelType, labelText)
	div.ware_pic_item
		.mainPicWrap
			a.fancy(href=url+'/pc/catalogpic_title/1318x1368_SQ49076_'+linkUrl, rel='group1')
				img(src=url+'/pc/catalogpic_title/342x342_new__SQ49076_'+imgSrc, alt='')
		a.rsImg(data-rsbigimg='/pc/catalogpic_title/1318x1368_SQ49076_'+linkUrl, href=url+'/pc/catalogpic_title/1318x1368_SQ49076_'+linkUrl)
			img.rsTmb(width='90', height='125', src=url+'/pc/catalogpic_title/90x125__SQ49076_'+imgSrc)



extends _layout
block vars
	- var bodyClass = "catalog"
block content
	+bread(['Главная','Женская коллекция','Брюки деним'])
	.catalog_title Категории
	+title('Брюки деним')
	.clear
	.catalog_rightcol
		#catalog_content
			.ware
				.ware_pic_list
					div(block="labels" mod="pos:ware")
						div(elem="item" mod="type:hit") Хит продаж
						div(elem="item" mod="type:rec") Рекомендуем
					#gallery-1-wrapper
						#gallery-1.royalSlider.rsDefault
							+slide('1.jpg?1463994005', '1.jpg?1463994006', 1, 'Хит продаж')
							+slide('2.jpg?1463994006', '2.jpg?1463994006', 2, 'Рекомендуем')
							+slide('3.jpg?1463994007', '3.jpg?1463994007', 1, 'Хит продаж')
							+slide('4.jpg?1463994007', '4.jpg?1463994008', 2, 'Рекомендуем')
					.clear
				script(type='text/javascript').
					$(function() {
					$("#gallery-1").royalSlider({
					fullscreen: {
					enabled: false,
					nativeFS: false
					},
					controlNavigation: 'thumbnails',
					transitionType: 'fade',
					autoScaleSlider: true,
					autoScaleSliderWidth: 365,
					autoScaleSliderHeight: 532,
					loop: false,
					imageScaleMode: 'fit-if-smaller',
					navigateByClick: true,
					numImagesToPreload: 2,
					arrowsNav: false,
					arrowsNavAutoHide: true,
					arrowsNavHideOnTouch: true,
					keyboardNavEnabled: true,
					fadeinLoadedSlide: true,
					globalCaption: false,
					globalCaptionInside: false,
					firstMargin: false,
					transitionSpeed: 0,
					thumbs: {
					spacing: 7,
					arrows: true,
					appendSpan: true,
					firstMargin: false,
					paddingBottom: 4
					}
					});
					$('.rsThumbsArrow').appendTo('#gallery-1');
					$(".rsNavItem.rsThumb").append('<table class="inner-table"><tr class="first-tr"></tr><tr><td class="first-td"></td><td class="middle-td"></td><td class="last-td"></td></tr><tr class="last-tr"></tr></table>');
					$(".rsContainer").append('<div class="slider-outer-block"><div class="slider-inner-block"></div></div>');
					});
				include blocks/_product-descr
			p Джинсы сконструированы на основе консультаций с ведущими атлетами Родео, учитывающих особенности движения и нагрузок спортсменов, участвующих в соревнованиях. Движения, которые осуществляет спортсмен при активной езде на лошади, наложили свой отпечаток на конструкцию этой модели. Это тяжёлая, прочная ткань, заклёпки на всех карманах, мощный двойной шов и высоко сидящие задние карманы.
			.ware_see_also
				h2 Рекомендуемые товары
				.catalog-list-slider
					-for(i=0;i<3;i++)
						.catalog_list
							.el
								.img-bg
									.img(style='margin-top:-80px')
										img(src=url+'/pc/catalogpic_title/153x159_SQ36347_1.jpg?1462883256')
								.back
								a.catalog_uri(href=href)
								h3.title
									a(href=href) SQ36347
								.brand
									a(href=href) MAVI
								.catalog_prices
									.oldprice
									.newprice
										| 5999
										span  руб.
							.el
								.img-bg
									.img(style='margin-top:-80px')
										img(src=url+'/pc/catalogpic_title/153x159_SQ39887_1.jpg?1463074631')
								.back
								a.catalog_uri(href=href)
								h3.title
									a(href=href) SQ39887
								.brand
									a(href=href) MAVI
								.catalog_prices
									.oldprice
									.newprice
										| 6299
										span  руб.
							.el
								.img-bg
									.img(style='margin-top:-80px')
										img(src=url+'/pc/catalogpic_title/153x159_SQ49042_1.jpg?1462882928')
								.back
								a.catalog_uri(href=href)
								h3.title
									a(href=href) SQ49042
								.brand
									a(href=href) A PASSION PLAY
								.catalog_prices
									.oldprice
									.newprice
										| 6699
										span  руб.
							.el
								.img-bg
									.img(style='margin-top:-80px')
										img(src=url+'/pc/catalogpic_title/106x159_SQ48112_1.jpg?1463074631')
								.back
								a.catalog_uri(href=href)
								h3.title
									a(href=href) SQ48112
								.brand
									a(href=href) DLF
								.catalog_prices
									.oldprice
									.newprice
										| 5999
										span  руб.
			.clear
			#popup_ware_table_body.popup_body(style='')
				p
					img(src=url+'/upload/mce/image/size.png', alt='', width='830', height='791')
	.catalog_menu
		ul
			li.el
				a.ajax(href=href) Брюки
			li.el
				a.ajax.active(href=href) Брюки деним
			li.el
				a.ajax(href=href) Брюки лен
			li.el
				a.ajax(href=href) Ветровка
			li.el
				a.ajax(href=href) Головной убор
			li.el
				a.ajax(href=href) Жилет
			li.el
				a.ajax(href=href) Капри
			li.el
				a.ajax(href=href) Кардиган/Кофта
			li.el
				a.ajax(href=href) Комбинезон
			li.el
				a.ajax(href=href) Куртка
			li.el
				a.ajax(href=href) Майка
			li.el
				a.ajax(href=href) Пальто
			li.el
				a.ajax(href=href) Пальто эко-кожа
			li.el
				a.ajax(href=href) Платье
			li.el
				a.ajax(href=href) Ремень
			li.el
				a.ajax(href=href) Рубашка дл. р.
			li.el
				a.ajax(href=href) Толстовка
			li.el
				a.ajax(href=href) Футболка дл. р.
			li.el
				a.ajax(href=href) Футболка кор. р.
			li.el
				a.ajax(href=href) Футболка поло кор. р.
			li.el
				a.ajax(href=href) Шарф
			li.el
				a.ajax(href=href) Шорты деним
			li.el
				a.ajax(href=href) Шорты-комбинезон
			li.el
				a.ajax(href=href) Юбка
			li.el
				a.ajax(href=href) Юбка деним
	.clear
