mixin edit
	div(block="edit-form")&attributes(attributes)
		a(elem="edit" href=href) Редактировать
		a.invisible(elem="save" href=href) Cохранить
		a.invisible(elem="del" href=href) Удалить

extends _layout
block content
	+bread(['Главная'])
	+title('Личный кабинет')
	div(block="account")
		div.acc-tabs_data(block="acc-tabs")
			a(elem="link" href=href) Личные данные
			a(elem="link" href="lk-history.html") Статусы/история заказов
		form.no-transform(action="")
			div(elem="col-1")
				div.control-field(block="acc-info")

					div(elem="col-1")
						label.account__label(for="name") ФИО
					div(elem="col-2")
						input#name.input-style.controlled(type="text" name="name" autocomplete="name" tabindex="1" value="Иванов Иван Иванович")

					div(elem="col-1")
						label.account__label(for="email") Электронная почта
					div(elem="col-2")
						input#email.input-style.controlled(type="email" name="email" autocomplete="email" tabindex="2" value="ivanov@mail.ru")

					div(elem="col-1")
						label.account__label(for="tel") Номер телефона
					div(elem="col-2")
						input#tel.js-tel.input-style.controlled(type="tel" name="phone" autocomplete="tel" tabindex="3" value="+7 394 282 57 84")

					div(elem="col-1")
						label.account__label(for="address") Адрес
					div(elem="col-2")
						input#address.input-style.controlled(type="text" name="address" autocomplete="shipping street-address" tabindex="4" value="г. Москва, ул. Прибрежная, 14 -23")

					div(elem="col-1")
						label.account__label(for="pass")  Пароль
					div(elem="col-2")
						input#pass.input-style.controlled(type="password" name="pass" tabindex="5" value="password")
					div.acc-info__edit(block="edit-form")
						a(elem="edit" href=href) Редактировать
						a.invisible(elem="save" href=href) Cохранить

			div(elem="col-2")
				div(block="acc-addr" data-max-addreses="3")
					div(elem="title") Адреса доставки

					div.control-field(elem="row")
						div(elem="col-1")
							label.account__label(for="addrText1") Адрес 1
						div(elem="col-2")
							textarea#addrText1.input-style.controlled(name="addr") г. Москва, ул. Новикова, 1б -54
							+edit(class="acc-addr__edit")

					div.control-field(elem="row")
						div(elem="col-1")
							label.account__label(for="addrText2") Адрес 2
						div(elem="col-2")
							textarea#addrText2.input-style.controlled(name="addr")
							+edit(class="acc-addr__edit")

					a.btn-add(elem="btn-add" type="button" href=href) Добавить
					#no-more-addr.hidden(block="popup-body")
						div(elem="title") Внимание!
						p(elem="descr") Можно добавить не более 3 адресов.


