mixin col(text)
	div(elem="col")=text
		block

mixin order(num)
	div.js-order(elem="order")
		div(elem="order-row")
			+col
				div.js-order-trigger(elem="order-num") №42342351
			+col
				div(elem="order-title") Сумка Wrangler, джинсы Lews, футболка Cropp ...
			+col
				div(elem="order-count")=num
			+col
			+col
				div(elem="summ")=3100*num+" руб."
			+col('12.03.16')
			+col
				block

		div.js-order-items(elem="order-items")
			-for(i=0;i<num;i++)
				div(elem="item")
					+col
					+col
						div(elem="item-view")
							div(elem="img-wrap")
								img.scaling(src="images/media/sumka.jpg", alt="")
							div(elem="item-title") Сумка Wrangler арт. 9023193
					+col('1')
					+col
						div(elem="summ") 3100 руб.

		a(elem="order-repeat" href=href) Повторить



extends _layout
block content
	+bread(['Главная'])
	+title('Личный кабинет')
	div(block="account")
		div.acc-tabs_history(block="acc-tabs")
			a(elem="link" href=href) Статусы/история заказов
			a(elem="link" href="lk-data.html") Личные данные
		div(block="acc-table")
			div(elem="header")
				+col('Номер заказа')
				+col('Товары')
				+col('Кол-во товара')
				+col('Стоимость товара')
				+col('Сумма заказа')
				+col('Дата')
				+col('Статус заказа')
			div(elem="body")
				+order(1)
					div.ready(elem="order-status") Доставлен
				+order(3)
					div(elem="order-status")
						| Не оплачен
						a(href=href) Оплатить
				+order(4)
					div(elem="order-status") В пути
		include blocks/_paginator
