extends _layout
block content
	+bread(['Главная'])
	+title('Попапы')
	+br(50)

	mixin popup(num, name, link)
		li=num+". "
			a.popup(class="fancybox.ajax" href=link)=name
	ul
		+popup(1, 'Наличие в магазинах', 'ajax/popup-presence.html')
		+popup(2, 'Личный кабинет', 'ajax/popup-acc.html')
		+popup(3, 'Регистрация', 'ajax/popup-reg.html')
		+popup(4, 'Забыли пароль', 'ajax/popup-forget.html')
	+br(100)