.text{
	&-center{text-align: center;}
	&-right{text-align: right;}
}
.clearfix{
	@include clearfix;
}
.half{
	width: 50%;
}
.third{
	width: cp(1,3);
}
.hr{
	border: none;
	height: 0.1px;
	width: 100%;
	border-bottom: 1px dashed #9d9274;
	margin: 30px 0;
}
.img-scaler{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 30%;
	&__wrap{
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
}
.input-style{
	width: 100%;
	color: #0f0f0f;
	font-style: italic;
	font-family: "Segoe UI", Arial;
	font-size: 14px;
	background: #f3ece6;
	padding: 10px 17px;
	border-radius: 5px;
	border: none;
	box-shadow: inset 1px 1px 2px rgba(black, 0.35), 1px 0px 5px white;
	&:disabled{
		color: #999999;
	}
}
.invisible{
	display: none !important;
}
.counter{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	&__view{
		@include sprite($num-bg);
		display: inline-block;
		vertical-align: middle;
		margin: 0 7px;
		line-height: 34px;
	}
	.plus,
	.minus{
		@extend %link-clicker;
		background-color: transparent;
		border: none;
		color: transparent;
		cursor: pointer;
		padding: 0;
		vertical-align: middle;
	}
	.minus{
		@include sprite($num-left);
	}
	.plus{
		@include sprite($num-right);
	}
	.rslt{
		width: 100%;
		height: 24px;
		padding: 0;
		background-color: transparent;
		border: none;
		text-align: center;
		font-size: 18px;
		color: white;
		font-family: "Segoe UI", Arial;
		font-weight: bold;
		font-style: italic;
		text-shadow: 0.313px 1.975px 1px rgba(0, 0, 0, 0.4);
		vertical-align: middle;
	}
}
.labels{
	*{ box-sizing: border-box; }
	position: absolute;
	z-index: 1;
	&_pos{
		&_ware{
			top: 60px;
			left: -5px;
			z-index: 11;
		}
		&_catalog{
			top: 40px;
			left: -5px;
		}
	}
	&__item{
		margin-bottom: 5px;
		padding-left: 24px;
		font-size: 11.5px;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		line-height: 34px;
		text-shadow: 0.313px 1.975px 1px rgba(0, 0, 0, 0.4);
		&_type{
			&_hit{
				@include sprite($promo-label-1);
			}
			&_rec{
				@include sprite($promo-label-2);
			}
		}
	}
}

.checkbox{
	cursor: pointer;
	margin-bottom: 3px;
	input{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	span{
		font-style: italic;
		&:before{
			content: '';
			@include sprite($checkbox);
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	input:checked{
		&~span{
			&:before{
				@include sprite($checkbox-checked);
			}
		}
	}
}