.row{
	@include clearfix;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
}
.col{
	@include clearfix;
	position: relative;
	box-sizing: border-box;
	padding: 0 10px;
}
.full{
	width: 100%;
}
.half{
	width: 50%;
}