/* setup */
*, *:after, *:before {
	box-sizing: border-box;
}

input:focus,textarea:focus, button:focus {
	outline: none;
}

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
	font-weight: 100;
}

// Футер книзу
html,
body {
	height: 100%;
}
.wrap-site {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.wrap-site .main {
	padding-bottom: $footerHeight + 20;
}
.wrap-site footer {
		position: absolute;
		width: 100%;
		height: $footerHeight;
		left: 0;
		bottom: 0;
}
/* .setup */