%link-clicker{
	@include link-clicker;
}
%btn{
	@extend %link-clicker;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	display: inline-block;
	user-select: none;
	position: relative;
	font-family: $bold;
	text-align: center;
	text-decoration: none;
}
%btn-title{
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #E8DFDF;
}
%brown-btn-2{
	@include sprite($brown-btn-2);
	@extend %link-clicker;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 34px;
	color: #e5dddc;
	font-weight: bold;
}