-var count = 6;


div(block="cart-widget")
	div(elem="top-row")
	div(elem="inner")


		div(elem="products")
			div(block="cart-goods")
				div.js-scroll(elem="list")
					-for(i=1;i<=count;i++)
						div(elem="item")
							div(elem="item-view")
								+imgScaler("//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120")
							div(elem="item-info")
								span 3100 руб.
								| Сумка Wrangler
								br
								| арт. 9023193
							div(elem="item-del") X
				div(elem="footer")
					div(elem="count")="И еще "+(count-2)+" товаров"
					div(elem="summ") Итого:
						span=3100*count+" руб."

		div(elem="btn-1")
			a(block="cart-confirm-btn" href="checkout.html") Оформить

		div(elem="btn-2")
			a(block="cart-btn" href=href)
				div(elem="inner") Корзина
				div(elem="label")=count