.bottom
	.menu_bottom
		ul.navigation
			li
				a(href=href) О компании
			li
				a(href=href) Вакансии
			li
				a(href=href) Контакты
			li
				a(href=href) FAQ
				ul.level2
					li.bottom_menu_top
					li
						a(href=href) Обратная связь
					li
						a(href=href) Частые вопросы
					li
						a(href=href) Результаты СОУТ
					li.bottom_menu_bottom
		.soc_list
			a(href=href, alt='vk', title='vk')
				img(src=url+'upload/soc_pic/vkontakte_64.gif')
			a(href=href, alt='twitter', title='twitter')
				img(src=url+'upload/soc_pic/twitter_64.gif')
			a(href=href, alt='foursquare', title='foursquare')
				img(src=url+'upload/soc_pic/foursquare_64.gif')
			a(href=href, alt='odnoklassniki', title='odnoklassniki')
				img(src=url+'upload/soc_pic/logo_odn.png')
	.copy_left
		| 2016 © 5 карманов
		br
		| Все права защищены.
		script(type='text/javascript').
			var yaParams = { /*Здесь параметры визита*/ };
			if (typeof(yaParams1) != 'undefined') yaParams = yaParams1;
		script(type='text/javascript').
			(function(d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter21829921 = new Ya.Metrika({
			id: 21829921,
			webvisor: true,
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			params: window.yaParams
			});
			} catch (e) {}
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function() {
			n.parentNode.insertBefore(s, n);
			};
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else {
			f();
			}
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src=url+'/mc.yandex.ru/watch/21829921', style='position:absolute; left:-9999px;', alt='')
		script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-16631847-7']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
			})();
	.copy_right
		a(href=href)
			| Разработка сайта 
			span Магвай
	.sitemaplink
		a(href=href)
			| Карта сайта
.bg_bottom2
.bg_bottom