.top
	.header
		a.logo(href="http://karman.dev.magwai.ru/" title="5 карманов" target="_blank")
		.basket_label
			include _cart-widget
		.order_check_status
			a.popup.login-btn(class="fancybox.ajax" href="ajax/popup-acc.html") Войти
		.contact
			.grad.phonelabel Главный офис, г. Москва:
			.grad.phone
				| +7 (495)
				strong 708-40-34
	.menu_top
		ul.navigation
			li.active
				a(href=href) Женская коллекция
			li
				a(href=href) Мужская коллекция
			li
				a(href=href) Бренды
			li
				a(href=href) Новости и акции
			li
				a(href=href) Магазины
		.pocket
