meta(charset='utf-8')
meta(name='description', content='A PASSION PLAY (ef) Брюки деним+ПОДАРОК (2) 15W-250 - Женская коллекция в магазинах 5Карманов. Закажите доставку понравившегося Вам товара в ближайщий к Вам магазин 5KarmaNov - это бесплатно!')
meta(name='keywords', content='A PASSION PLAY (ef) Брюки деним+ПОДАРОК (2) 15W-250, Женская коллекция, купить, заказать, Москва, Волгоград, Воронеж, Екатеринбург, Иваново, Казань, Калуга, Краснодар, Курск, Нижний Новгород, Ростов-на-Дону, Рязань, Самара, Старый Оскол, Тамбов, Тольятти, Тула, Тюмень, Ульяновск, Чебоксары, Челябинск, Ярославль, 5KarmaNov, 5Карманов')
title
	| Женская коллекция - 5 карманов
link(href=url+'favicon.ico', rel='favicon')
link(href=url+'ru/catalog/woman/rubric/bryuki_denim/eurofashion_bryu136', hreflang='ru', rel='alternate')
link(href=url+'en/catalog/woman/rubric/bryuki_denim/eurofashion_bryu136', hreflang='en', rel='alternate')
link(href=url+'pc/css/ead64.css', media='all', rel='stylesheet', type='text/css')
script(type='text/javascript', src=url+'zkernel/js/cufon.js')
script(type='text/javascript', src=url+'js/font.js')
script(type='text/javascript', src=url+'pc/js/beb64.js')
script(type='text/javascript').
	try {
	$(function() {
	kr.init({
	"lang": "ru",
	"region": "119"
	});
	});
	$(function() {
	kr.init_filter();
	});
	$(function() {
	kr.init_ware_pic_scroll();
	kr.init_check_form();
	});
	$(function() {
	kr.init_zoom();
	});
	} catch (e) {}
link(href=url+'royalslider/css/royalslider.css', rel='stylesheet')
link(href=url+'royalslider/css/rs-default.css', rel='stylesheet')
script(src=url+'royalslider/js/jquery.royalslider.min.js')