.ware_desc
	h1.ware_title WRANGLER Брюки деним (2) TINA W242X134D
	.ware_brand-art
		img(src="images/media/wrangler-label.png", alt="Wrangler-img")
		|  Wrangler / Артикул: 1268239
	.ware_available
		p В интернет магазине: 131 шт.,
		p
			a(href=href) В розничных магазинах: 54 шт.
	form.no-transform(action="")
		div(block="ware-price")
			div(elem="info")
				span(elem="old") 7200
				span(elem="curr") 5999
				span.price руб.
				div(elem="pc") Экономия 10%
			div.counter
				input.minus.js-minus(type="button" field="quantity" value="-")
				span.counter__view
					input.rslt.js-num(type="text" value="1" data-min="1" data-max="100" name="quantity")
				input.plus.js-plus(type="button" field="quantity" value="+")
		div(block="ware-params")
			dl(elem="block")
				dt(elem="title") Размер:
				dd(elem="list")
					label.checkbox-radio
						input(type="radio", name="sizes" disabled)
						i
						span 32
					label.checkbox-radio
						input(type="radio", name="sizes" checked="")
						i
						span 34
					label.checkbox-radio
						input(type="radio", name="sizes")
						i
						span 36
					label.checkbox-radio
						input(type="radio", name="sizes")
						i
						span 38
					a#popup_ware_table.popup_link.ware_table(href="#popup_ware_table_body") Таблица размеров
			dl(elem="block")
				dt(elem="title") Рост:
				dd(elem="list")
					label.checkbox-radio
						input(type="radio", name="growth" disabled)
						i
						span 32
					label.checkbox-radio
						input(type="radio", name="growth")
						i
						span 34
					label.checkbox-radio
						input(type="radio", name="growth")
						i
						span 36
					label.checkbox-radio
						input(type="radio", name="growth" checked="")
						i
						span 38
					label.checkbox-radio
						input(type="radio", name="growth")
						i
						span 40
			dl(elem="block")
				dt(elem="title") Цвет:
				dd(elem="list")
					label.checkbox-radio
						input(type="radio", name="color")
						i
						img(src="images/media/color-brown.png", alt="Коричневый")
					label.checkbox-radio
						input(type="radio", name="color" checked="")
						i
						img(src="images/media/color-blue.png", alt="Голубой")
					label.checkbox-radio
						input(type="radio", name="color")
						i
						img(src="images/media/color-grey.png", alt="Серый")
					label.checkbox-radio
						input(type="radio", name="color")
						i
						img(src="images/media/color-black.png", alt="Черный")
		button.ware_submit(type="submit") В корзину